<h3>参加中ユーザー</h3>
<% if @members.any? %>
  <ul>
    <% @members.each do |member| %>
      <li>
        <%= link_to member.full_name, user_path(member) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>参加中ユーザーはいません。</p>
<% end %>