<% genres.each do |genre| %>
  <tr>
    <td><%= genre.name %></td>
    <td>
      <%= link_to '編集する', edit_admin_genre_path(genre), class: 'btn btn-sm btn-success' %>
      <%= link_to '削除', admin_genre_path(genre), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-sm btn-danger' %>
    </td>
  </tr>
<% end %>