/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

.my-page {
  font-weight: bold;
  /* その他のスタイルも必要に応じて追加 */
}

.col-1 {
    font-weight: bold;
}

.table th {
    background-color: #f2f2f2; /* 背景色を灰色に設定 */
    color: #666666; /* 文字色を灰色に設定 */
}

.profile-image {
  max-width: 80px; /* 画像の最大幅を設定 */
  max-height: 80px; /* 画像の最大高さを設定 */
  width: auto; /* 幅を自動調整 */
  height: auto; /* 高さを自動調整 */
  object-fit: cover; /* 画像が領域に収まるように調整 */
  border-radius: 50%; /* 丸い画像にする */
}